<p style="color: green"><%= notice %></p>

<%= render @genre %>

<div>
  
  <%= link_to "Back to genres", genres_path %>

  <% if policy(@genre).update? %>
    <%= link_to 'Edit', edit_genre_path(@genre) %>
  <% end %>

  <% if policy(@genre).destroy? %>
    <%= link_to 'Delete', @genre, method: :delete %>
  <% end %>

</div>
