<p style="color: green"><%= notice %></p>

<%= render @artist %>

<div>
  
  <%= link_to "Back to artists", artists_path %>
  
  <% if policy(@artist).update? %>
    <%= link_to 'Edit', edit_artist_path(@artist) %>
  <% end %>

  <% if policy(@artist).destroy? %>
    <%= link_to 'Delete', @artist, method: :delete %>
  <% end %>
</div>
