<div id="<%= dom_id album_copy %>">
  <p>
    <strong>Album:</strong>
    <%= album_copy.album.title %>
  </p>

  <p>
    <strong>Media type:</strong>
    <%= album_copy.media_type %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= album_copy.condition %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= album_copy.price %>
  </p>

</div>
