<p style="color: green"><%= notice %></p>

<%= render @album_copy %>

<div>
  
  <%= link_to "Back to album copies", album_copies_path %>

  <% if policy(@album_copy).update? %>
    <%= link_to 'Edit', edit_album_copy_path(@album_copy) %>
  <% end %>

  <% if policy(@album_copy).destroy? %>
    <%= link_to 'Delete', @album_copy, method: :delete %>
  <% end %>
</div>
