<h1>Home</h1>

<nav class="fancy">
  <%= link_to album_copies_path, class: "btn" do %>
    <%= image_tag "/images/stock.jpg", alt: "Stock" %>
    Check Out Our Stock
  <% end %>

  <%= link_to albums_path, class: "btn" do %>
    <%= image_tag "/images/albums.jpeg", alt: "Albums" %>
    Albums
  <% end %>

  <%= link_to artists_path, class: "btn" do %>
    <%= image_tag "/images/robert.webp", alt: "Artists" %>
    Artists
  <% end %>

  <%= link_to genres_path, class: "btn" do %>
    <%= image_tag "/images/genres.jpg", alt: "Genres" %>
    Genres
  <% end %>

  <%= link_to gears_path, class: "btn" do %>
    <%= image_tag "/images/gear.webp", alt: "Gear" %>
    Music Gear
  <% end %>
	
<%= link_to contacts_path, class: "btn" do %>
    <%= image_tag "/images/contact.jpg", alt: "Contact" %>
    Contact Us
  <% end %>

</nav>
