<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist.name %>
  </p>

  <p>
    <strong>Release Year:</strong>
    <%= album.release_year %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= album.genre.name %>
  </p>

</div>
