<p style="color: green"><%= notice %></p>

<% content_for :title, "Album tracks" %>


<% if params[:album_id].present? %>
  <h1><%= @album.title %></h1>
  <h3> by <%= @album.artist.name %></h3>

  <div>
    <% @album_tracks.each do |track| %>
      <div>
        <%= track.track_name %> 
        <% if policy(track).show? %>
          <%= link_to 'Show', album_track_path(track) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>All Album Tracks</h1>

  <% grouped_tracks = @album_tracks.group_by(&:album) %>

  <% grouped_tracks.each do |album, tracks| %>
    <div>
      <h1><%= album.title %></h1>
      <h3> by <%= album.artist.name %></h3>

      <ul>
        <% tracks.each do |track| %>
          <li><%= track.track_name %></li> 
          <% if policy(track).show? %>
          <%= link_to 'Show', album_track_path(track) %>
        <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= link_to "New album track", new_album_track_path %>



