<p style="color: green"><%= notice %></p>

<%= render @order_album %>

<div>
  <%= link_to "Edit this order album", edit_order_album_path(@order_album) %> |
  <%= link_to "Back to order albums", order_albums_path %>

  <%= button_to "Destroy this order album", @order_album, method: :delete %>
</div>
